{% extends "base.html" %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-9 align-center">
        <h1>Welcome to the Project Task Manager!</h1>
        <br>
        <h2>Some information about our company</h2>
        <ul>
          <li>Number of our projects: {{ number_of_projects }}</li>
          <li>Number of our developers teams: {{ number_of_teams }}</li>
          <li>Number of our employees: {{ number_of_employees }}</li>
          <li>Represented staff positions: {{ number_of_positions }}</li>
        </ul>
        <hr>
        <p>
          You have visited us {{ num_visits }} time{{ num_visits|pluralize }}
        </p>
      </div>
    </div>
  </div>
{% endblock %}