{% extends "base.html" %}

{% block content %}
  <div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mb-4 text-white">
      <h1>
        About position "{{ position.name }}"
      </h1>
      <a
          href="{% url 'manager:position-update' pk=position.id %}"
          class="btn btn-info"
      >
        Edit
      </a>
    </div>
    <hr class="text-white-50">
    {% if position.name != "DevOps" %}
      <h4 class="text-white">Our Company {{ position.name }}s:</h4>
      {% if position.workers.all %}
        <ol class="text-white">
          {% for worker in position.workers.all %}
            {% if worker.first_name and worker.last_name %}
              <li>
                <a
                    href="{% url 'manager:worker-detail' pk=worker.id %}"
                    class="text-decoration-none text-white"
                >
                  {{ worker.username }}
                </a>
                ({{ worker.first_name }} {{ worker.last_name }})
              </li>
            {% else %}
              <li>
                {{ worker.username }}
              </li>
            {% endif %}
          {% endfor %}
        </ol>
      {% else %}
        <p class="text-white">
          There are no represented {{ position.name }}s in Company!
        </p>
      {% endif %}
    {% else %}
        <h4>Our Company {{ position.name }}:</h4>
      {% if position.workers.all %}
        <ol>
          {% for worker in position.workers.all %}
            {% if worker.first_name and worker.last_name %}
              <li>
                <a
                    href="{% url 'manager:worker-detail' pk=worker.id %}"
                >
                  {{ worker.username }}
                </a>
                ({{ worker.first_name }} {{ worker.last_name }})
              </li>
            {% else %}
              <li>
                {{ worker.username }}
              </li>
            {% endif %}
          {% endfor %}
        </ol>
      {% else %}
        <p
            class="text-white"
        >
          There are no represented {{ position.name }} in Company!
        </p>
      {% endif %}
    {% endif %}
    <hr class="text-white-50">
    <a
        href="{% url 'manager:position-delete' pk=position.id %}"
        class="btn btn-danger"
    >
      Delete
    </a>
  </div>
{% endblock %}
