{% extends "base.html" %}

{% block content %}
  <h1>
    About position "{{ position.name }}"
    <a
        href="{% url 'manager:position-update' pk=position.id %}"
        class="btn btn-info link-to-page"
    >
      Edit
    </a>
  </h1>
    <hr>
    {% if position.name != "DevOps" %}
      <h4>Our Company {{ position.name }}s:</h4>
      {% if position.workers.all %}
        <ol>
          {% for worker in position.workers.all %}
            {% if worker.first_name and worker.last_name %}
              <li>
                {{ worker.username }}
                ({{ worker.first_name }} {{ worker.last_name }})
              </li>
            {% else %}
              <li>
                {{ worker.username }}
              </li>
            {% endif %}
          {% endfor %}
        </ol>
      {% else %}
        There are no represented {{ position.name }}s in Company!
      {% endif %}
    {% else %}
        <h4>Our Company {{ position.name }}:</h4>
      {% if position.workers.all %}
        <ol>
          {% for worker in position.workers.all %}
            {% if worker.first_name and worker.last_name %}
              <li>
                {{ worker.username }}
                ({{ worker.first_name }} {{ worker.last_name }})
              </li>
            {% else %}
              <li>
                {{ worker.username }}
              </li>
            {% endif %}
          {% endfor %}
        </ol>
      {% else %}
        There are no represented {{ position.name }} in Company!
      {% endif %}
    {% endif %}
  <hr>
  <a
      href="{% url 'manager:position-delete' pk=position.id %}"
      class="btn btn-danger link-to-page"
  >
    Delete
  </a>
{% endblock %}
