{% extends "base.html" %}

{% block content %}
  <h1>
    List of all actual working positions:
    <a
        href="{% url 'manager:position-create' %}"
        class="btn btn-success link-to-page"
    >
      Add new Position
    </a>
  </h1>
  <hr>
  {% if positions %}
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>
            ID
          </th>
          <th>
            Position name
          </th>
          <th>
            Number of position workers
          </th>
          <th>
            Update
          </th>
          <th>
            Delete
          </th>
        </tr>
      </thead>
      <tbody>
        {% for position in positions  %}
          <tr>
            <td>
              {{ position.id }}
            </td>
            <td>
              <a
                  href="{% url 'manager:position-detail' pk=position.id %}"
                  class="text-decoration-none"
              >
                {{ position.name }}
              </a>
            </td>
            <td>
              {{ position.workers.count }}
            </td>
            <td>
              <a
                  href="{% url 'manager:position-update' pk=position.id %}"
                  class="btn btn-info"
              >
                Update
              </a>
            </td>
            <td>
              <a
                  href="{% url 'manager:position-delete' pk=position.id %}"
                  class="btn btn-danger"
              >
                Delete
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>There are still no positions created!</p>
  {% endif %}
{% endblock %}