{% extends "base.html" %}

{% block content %}
  <h1>
    About project "{{ project.name }}"
    <a
        href="{% url 'manager:project-update' pk=project.id %}"
        class="btn btn-success link-to-page"
    >
      Edit
    </a>
  </h1>
  <hr>
  {% if project.description %}
    <h4>Description:</h4>
    <p>
      {{ project.description }}
    </p>
  {% endif %}
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Project Teams</th>
        <th>Project Tasks</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          {% if project.teams.all %}
            <ol>
              {% for team in project.teams.all %}
                <li>
                  <a
                      href="{% url 'manager:team-detail' pk=team.id %}"
                      class="text-decoration-none"
                  >
                    {{ team.name }}
                  </a>
                </li>
              {% endfor %}
            </ol>
          {% else %}
            <p>There are no assigned teams.</p>
          {% endif %}
        </td>
        <td>
          {% if project.tasks.all %}
            <ol>
              {% for task in project.tasks.all %}
                <li>
                  <a
                      href="{% url 'manager:task-detail' pk=task.id %}"
                      class="text-decoration-none"
                  >
                    {{ task.name }}
                  </a>
                </li>
             {% endfor %}
            </ol>
          {% else %}
            <p>There are no assigned tasks.</p>
          {% endif %}
        </td>
      </tr>
    </tbody>
  </table>
  <hr>
  <a
      href="{% url 'manager:project-delete' pk=project.id %}"
      class="btn btn-danger"
  >
    Delete
  </a>
{% endblock %}
