{% extends "base.html" %}

{% block content %}
  <h1>
    List of Projects
    <a href="" class="btn btn-info">
      <strong>
        +
      </strong>
    </a>
  </h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th><strong>ID</strong></th>
        <th><strong>Project Name</strong></th>
        <th><strong>Names of project teams</strong></th>
      </tr>
    </thead>
    <tbody>
      {% for project in projects %}
        <tr>
          <td>{{ project.id }}</td>
          <td>
            <a href="{% url 'manager:project-detail' pk=project.id %}">{{ project.name }}</a>
          </td>
          <td>
            {% for team in project.teams.all %}
              {{ team.name }} (Workers: {{team.workers.count }})
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
