{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
  <h1>
    Task Types
    <a
        href="{% url 'manager:task-type-create' %}"
        class="btn btn-success link-to-page"
    >
      Add new Type
    </a>
  </h1>
  <br>
  {% if task_types %}
    <form action="" method="get">
      {{ search_form|crispy }}
      <input
          type="submit"
          value="Search"
          class="btn btn-secondary"
      >
    </form>
    <hr>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Type name</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for type in task_types %}
          <tr>
            <td>{{ type.name }}</td>
            <td>
              <a
                  href="{% url 'manager:task-type-update' pk=type.id %}"
                  class="btn btn-info"
              >
                Update
              </a>
            </td>
            <td>
              <a
                  href="{% url 'manager:task-type-delete' pk=type.id%}"
                  class="btn btn-danger"
              >
                Delete
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <hr>
  {% else %}
    <p>There are still no task types created!</p>
  {% endif %}
{% endblock %}