{% extends "base.html" %}

{% block content %}
  <h1>Info about "{{ team.name }}"</h1>
  <hr>
  <h5>Description:</h5>
  <p>{{ team.description }}</p>
  <h5>Team Members:</h5>
  <ul>
    {% for worker in team.workers.all %}
      <li>
        {{ worker.username }}
        {% if worker.first_name or worker.last_name or worker.position %}
          (
          {% if worker.first_name and worker_last_name %}
            {{ worker.first_name }} {{ worker.last_name }},
          {% endif %}
          {% if worker.position %}
            {{ worker.position }}
          {% endif %}
          )
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
