{% extends "base.html" %}

{% block content %}
  <div class="container-fluid py-2">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1 class="text-white">
        Info about "{{ team.name }}"
      </h1>
      <a
          href="{% url 'manager:team-update' pk=team.id %}"
          class="btn btn-info link-to-page"
      >
        Edit
      </a>
    </div>
    <hr class="text-white-50">
    <h5 class="text-white">Description:</h5>
    <p class="text-white">{{ team.description }}</p>
    <h5 class="text-white">Team Members:</h5>
    {% if team.workers.all %}
      <ul class="list-inline text-white-50">
        {% for worker in team.workers.all %}
          <li>
            <a
                href="{% url 'manager:worker-detail' pk=worker.id %}"
                class="text-decoration-none text-white"
            >
              {{ worker.username }}
            </a>
            {% if worker.position %}
              (
              {% if worker.first_name and worker.last_name %}
                {{ worker.first_name }} {{ worker.last_name }}
              {% endif %}
              {% if worker.position %}
                , {{ worker.position }}
              {% endif %}
              )
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="text-white">There are no workers assigned to this team.</p>
    {% endif %}
    <hr class="text-white-50">
    <a
      href="{% url 'manager:team-delete' pk=team.id %}"
      class="btn btn-danger link-to-page"
  >
    Delete
  </a>
  </div>
{% endblock %}
