{% extends "base.html" %}

{% block content %}
  <div class="container-fluid text-white">
    <h1>Deleting a <strong>{{ team.name }}</strong></h1>
    <p><strong>WARNING! </strong>You're going to delete the project "{{ team.name }}".</p>
    <p><i>If you're really sure to delete this project from the list - press "Delete" button</i></p>
    <form action="{% url 'manager:team-delete' pk=team.id %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Delete" class="btn btn-danger">
    </form>
  </div>
{% endblock %}
