{% extends "base.html" %}

{% block content %}
  <h1>
    Info about "{{ team.name }}"
    <a
        href="{% url 'manager:team-update' pk=team.id %}"
        style="float: right; margin: 0;"
        class="btn btn-info"
    >
      Edit
    </a>
  </h1>
  <hr>
  <h5>Description:</h5>
  <p>{{ team.description }}</p>
  <h5>Team Members:</h5>
  <ul>
    {% for worker in team.workers.all %}
      <li>
        {{ worker.username }}
        {% if worker.first_name or worker.last_name or worker.position %}
          (
          {% if worker.first_name and worker_last_name %}
            {{ worker.first_name }} {{ worker.last_name }},
          {% endif %}
          {% if worker.position %}
            {{ worker.position }}
          {% endif %}
          )
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  <hr>
  <a
      href="{% url 'manager:team-delete' pk=team.id %}"
      style="float: right; margin: 0;"
      class="btn btn-danger"
  >
    Delete
  </a>
{% endblock %}
