{% extends "base.html" %}

{% block content %}
  <h1>Info about {{ worker.username }}</h1>
  <hr>
  <p><strong>First name: </strong>{{ worker.first_name }}</p>
  <p><strong>Last name: </strong>{{ worker.last_name }}</p>
  <p><strong>E-mail: </strong>{{ worker.email }}</p>
  <hr>
  <h4>Worker's projects:</h4>
  <ul>
    {% for team in worker.teams.all %}
      {% for project in team.projects.all %}
        <li>
          <strong>
            <a href="{% url 'manager:project-detail' pk=project.id %}"
            >{{ project.name }}:</a>
          </strong> {{ project.description }}</li>
      {% endfor %}
    {% endfor %}
  </ul>
  <hr>
  <h4>Worker's Teams:</h4>
  <ul>
    {% for team in worker.teams.all %}
      <li>{{ team.name }}</li>
    {% endfor %}
  </ul>
  <h4>Actual Tasks</h4>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Resolved Tasks</th>
        <th>Unresolved Tasks</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for task in worker.tasks.all %}
          {% if task.is_completed %}
            <td>
              {{ task.name }}
            </td>
            <td></td>
          {% else %}
            <td></td>
            <td>
              {{ task.name }}
            </td>
          {% endif %}
        {% endfor %}
      </tr>
    </tbody>
  </table>
  <hr>
  <a href="#" class="btn btn-success">Add new Task</a>
{% endblock %}
