{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
  <div class="container-fluid">
    <div
        class="d-flex
        justify-content-between
        align-items-center
        mb-4"
    >
      <h1 class="text-white">
        Actual list of Employees:
      </h1>
      <a
          href="{% url 'manager:worker-create' %}"
          class="btn btn-success"
      >
        Add new Worker
      </a>
    </div>
    {% if workers %}
      <form action="" method="get">
        {{ search_form|crispy }}
        <input
            type="submit"
            value="Search"
            class="btn btn-info"
        >
      </form>
    {% endif %}
    <hr>
    <table class="table table-bordered text-dark text-start bg-white">
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Position</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for worker in workers %}
          <tr>
            <td>{{ worker.id }}</td>
            <td>
              <a
                  href="{% url 'manager:worker-detail' pk=worker.id %}"
                  class="text-decoration-none"
              >
                {% if user.username == worker.username %}
                  {{ worker.username }} (Me)
                {% else %}
                  {{ worker.username }}
                {% endif %}
              </a>
            </td>
            <td>{{ worker.first_name }}</td>
            <td>{{ worker.last_name }}</td>
            <td>{{ worker.position }}</td>
            <td>
              <a
                  href="{% url 'manager:worker-update' pk=worker.id %}"
                  class="btn btn-info"
              >
                Update
              </a>
            </td>
            <td>
              <a
                  href="{% url 'manager:worker-delete' pk=worker.id %}"
                  class="btn btn-danger"
              >
                Delete
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
