body {
    padding: 20px;
    margin: 0 auto;
}

.sidebar-nav {
    list-style: none;
}

.sidebar-nav a {
    text-decoration: none;
}

.link-to-page {
    float: right;
    margin: 0 20px;
}